
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1496648211938'); /* IE9*/
  src: url('iconfont.eot?t=1496648211938#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1496648211938') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1496648211938') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1496648211938#iconfont') format('svg'); /* iOS 4.1- */
}

[class^="icon-ha-"], [class*=" icon-ha-"] {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ha-date:before { content: "\e60a"; }

.icon-ha-add:before { content: "\e644"; }

.icon-ha-position:before { content: "\e6df"; }

.icon-ha-wlf:before { content: "\e604"; }

.icon-ha-wrd:before { content: "\e60b"; }

.icon-ha-wfx:before { content: "\e60d"; }

.icon-ha-wsj:before { content: "\e60f"; }

.icon-ha-wxx:before { content: "\e610"; }

.icon-ha-wgz:before { content: "\e612"; }

.icon-ha-wfw:before { content: "\e613"; }

.icon-ha-home:before { content: "\e618"; }

.icon-ha-time:before { content: "\e630"; }

